ul {
  list-style: none;
  padding: 0px;
  line-height: 20px;
  margin-bottom: 60px;
}
a {
  color: black;
}
a:hover {
  color: #ffda44;
}

.row > * {
  padding: 0;
}
.pixel-font-small {
  font-family: "VT323", monospace;
}
.form {
  width: 85%;
  border-radius: 10px;
  border-color: #fff;
  margin-right: 2px;
}
.button {
  font-size: 16px;
  border-radius: 10px;
  border-color: #fff;
}
.button-location {
  margin-left: 55px;
  margin: 0;
}
.app-body {
  position: static;
  border: 3px solid fff;
  border-radius: 15px;
  padding: 30px;
  width: 50%;
  max-width: 630px;
  min-width: 630px;
  display: block;
  margin: auto;
  color: #fff;
  background-image: url(https://c.tenor.com/TIUfh_o9hIUAAAAd/minimoss-pixel-art.gif);
  background-size: cover;
}
.city {
  padding-top: 50px;
  margin-bottom: 0px;
  font-size: 30px;
  font-family: "Press Start 2P", cursive;
}

.weather {
  margin-right: 60px;
  text-align: center;
}
.icon {
  padding-top: 40px;
  display: block;
  margin: 0 auto;
}
.local-temp {
  padding-top: 40px;
}

.local-temp strong {
  font-weight: 400;
  margin-top: 45px;
  font-size: 70px;
}
.local-temp small {
  font-size: 25px;
  position: relative;
  top: -36px;
}
.cel-fah:hover {
  cursor: pointer;
}
.celsius {
  padding-left: 5px;
  color: #ffda44;
}
.small-text {
  font-size: 23px;
  font-family: "VT323", monospace;
}
.week {
  display: block;
  margin: 0 auto;
}
.days {
  font-size: 20px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}
.small-icon {
  width: 50px;
  display: block;
  margin: 0 auto;
}
.center {
  text-align: center;
}
.days-min-temp {
  opacity: 0.8;
  color: #ffda44;
}
